@page
@model ReviewsModel
@{
    ViewData["Title"] = "Reviews";
}

<template id="review-template">
    <p>Date: </p>
    <p class="date"></p>
</template>

<h1>@ViewData["Title"]</h1>

<div class="containerTemp"></div>